# Ignore compiled output files
*.o
*.exe
build/
.Xil/


# Ignore temporary files
*.log
*.tmp


# Ignore IDE-specific files
.vscode/
.idea/


# Ignore node modules
node_modules/

# Ignore sensitive data (use with caution, environment variables are preferred)
config.ini
